
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-danger">Goibibo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" th:href="@{/userhome}">Home</a>
 		<a class="nav-link text-white" th:href="@{/flightpage}"><i class="fa-solid fa-train"></i>Flights</a>
 		<a class="nav-link text-white" th:href="@{/buspage/}">Buses</a>
 		<a class="nav-link text-white" th:href="@{/trainpage}">Trains</a>
        <a class="nav-link text-white" th:href="@{/logout}">Sign Out</a>
      </div>
    </div>
  </div>
</nav>
