
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<style type="text/css">
button {
padding: 10px;
}
span {
color: red;
font-style: italic;
}
form {
display: table;
}
form div {
display: table-row;
}
label, input, span, select {
display: table-cell;
margin: 5px;
text-align: left;
}
input[type=text], input[type=password], select, textarea {
width: 200px;
margin: 5px;
} form div div {
display: table-cell;
}
</style>
</head>
<body>
<div align="center">
<h1>User Registration</h1>
<form action="#" th:action="@{/register}" method="post" th:object="${emp}">
<div>
<label>Employee Id:</label>
<input type="text" th:field="*{eid}"/><br/>
<span th:if="${#fields.hasErrors('eid')}" th:errors="*{eid}">ID error</span>
</div>
<div>
<label>Ename:</label>
<input type="text" th:field="*{ename}" />
</div> <div>
<label>Salary:</label>
<input type="text" th:field="*{salary}" />
<span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary error</span>
</div>
<input type="submit" value="submit">
</form>
</div>
</body>
</html>



