<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="all" href="#" th:href="@{/css/style.css}" />
</head>
<body>
<header th:replace="includes/nav ::header"></header>
<section th:replace="includes/nav :: javasidebar"></section>
<article>
<button class="topbutton"><a th:href="@{/java}">Previous</a></button>&nbsp<button class="topbutton1"><a th:href="@{/featuresofjava}">Next</a></button>
<h2>History of Java</h2>
<p>The history of Java is very interesting. Java was originally designed for interactive television, but it was too advanced technology for the digital cable television industry at the time. The history of Java starts with the Green Team. Java team members (also known as Green Team), initiated this project to develop a language for digital devices such as set-top boxes, televisions, etc. However, it was best suited for internet programming. Later, Java technology was incorporated by Netscape.
</p>
<p>
The principles for creating Java programming were "Simple, Robust, Portable, Platform-independent, Secured, High Performance, Multithreaded, Architecture Neutral, Object-Oriented, Interpreted, and Dynamic". Java
was developed by James Gosling, who is known as the father of Java, in 1995. James Gosling and his team members started the project in the early '90s.</p>
<p>Currently, Java is used in internet programming, mobile devices, games, e-business solutions, etc. Following are given significant points that describe the history of Java.
<img src="https://static.javatpoint.com/images/j1.jpg"  style="width:200px;height:200px; float: right;"></p>
<h4 style="color:green">1) James Gosling</h4>
<p>, <b>Mike Sheridan,</b> and <b>Patrick Naughton</b> initiated the Java language project in June 1991. The small team of sun engineers called <b>Green Team.</b></p>
<p>2) Initially it was designed for small, embedded systems in electronic appliances like set-top boxes.</p>
<p>3) Firstly, it was called <b>"Greentalk"</b> by James Gosling, and the file extension was .gt.</p>
<p>4) After that, it was called Oak and was developed as a part of the Green project.</p>

<h3>Why Java was named as "Oak"?</h3>
<p>5) Why Oak? Oak is a symbol of strength and chosen as a national tree of many countries like the U.S.A., France, Germany, Romania, etc.
<img src="https://static.javatpoint.com/images/core/oak.jpg"  style="width:200px;height:200px; float: right;"></p></p>

<p>6) In 1995, Oak was renamed as "Java" because it was already a trademark by Oak Technologies.</p>

<h3>Why Java Programming named "Java"?</h3>
<p>7) Why had they chose the name Java for Java language? The team gathered to choose a new name. The suggested words were "dynamic", "revolutionary", "Silk", "jolt", "DNA", etc. They wanted something that reflected the essence of the technology: revolutionary, dynamic, lively, cool, unique, and easy to spell, and fun to say.</p>

<p>According to James Gosling, "Java was one of the top choices along with Silk". Since Java was so unique, most of the team members preferred Java than other names.</p>

<p>8) Java is an island in Indonesia where the first coffee was produced (called Java coffee). It is a kind of espresso bean. Java name was chosen by James Gosling while having a cup of coffee nearby his office.</p>

<p>9) Notice that Java is just a name, not an acronym.</p>

<p>10) Initially developed by James Gosling at Sun Microsystems
(which is now a subsidiary of Oracle Corporation) and released in 1995.</p>

<p>11) In 1995, Time magazine called Java one of the Ten Best Products of 1995.</p>

<p>12) JDK 1.0 was released on January 23, 1996. After the first release of Java, there have been many additional features added to the language. Now Java is being used in Windows applications, Web applications, enterprise applications, mobile applications, cards, etc. Each new version adds new features in Java.</p>
<iframe width="450" height="300" src="https://www.youtube.com/embed/DcQPtlFlgzY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<button class="bottombutton"><a th:href="@{/histroyofjava}">Previous</a></button>&nbsp<button class="bottombutton1"><a th:href="@{/featuresofjava}">Next</a></button>
</article>
</body>
</html>