<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="add" class="com.employee.bean.Address">
<property name="hno" value="201"/>
<property name="street" value="StationRoad"/>
<property name="city" value="Hyd"/>
</bean>
<bean id="emp" class="com.employee.bean.Employee">
<property name="empid" value="100"/>
<property name="ename" value="subbu"/>
<property name="address" ref="add"/>
</bean>

</beans>