<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="ba" class="com.bank.bean.Bank">
<property name="acno" value="11521"/>
<property name="dep" value="10000"/>
<property name="bal" value="10000"/>
</bean>
</beans>