<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	body{
	//background-color:#c6cfec;
	}
	button {
		padding: 10px;
	}
	span {
		color: red;
		font-style: italic;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
</style>
</head>
<body>
	<div align="center">
	<h1>register form</h1>
		<span th:text="${msg}" style="color:red;margin:10px 0px;"></span>
		<form action="#" th:action="@{/usersave}" method="post" th:object="${user}">
		<div>
			<label>UserName:</label>
			<input type="text" th:field="*{userid}"/><br/>
		</div>
		<div>
			<label>Password:</label>
			<input type="password" th:field="*{password}" />
		</div>
		<div>
			<label>Role:</label>
			<select th:field="*{role}" required="required">
		   			<option th:value="admin" th:text="Admin"></option>
		   			<option th:value="employee" th:text="Employee"></option>
			</select>
		</div>
		<input type="submit" value="submit">
		<input type="reset" value="Clear">
		</form>
		<a th:href="@{/}">Login</a>
	</div>

</body>
</html>