@charset "ISO-8859-1";
<style>
ul {
  list-style-type: none;
  margin-top:5px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
input[type=text] {  
padding-left: 10px;  
margin-top: 8px;
margin-left:30px;
width:55%; 
font-size: 17px;  
}  
body{
 background-color: #c6cfec;
 }
</style>
