<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<h4 th:text="${msg}"></h4>
<h1>Employee Register page</h1>
	<form th:action="@{/save}" method="post" th:object="${employee}">
		<div>
	    	<label>Employee ID</label>
	      	<input type="text" th:field="*{empid}">
	    </div>
	    <div>
	     	<label>Employee Name</label>
			<input type="text" th:field="*{ename}">
	  	</div>
	  	<div>
	 		<label>Employee Salary</label>
	  		<input type="text" th:field="*{salary}">
	  	</div>
	    <button type="submit">SaveEmployee</button>
    </form>
    
 </div>
</body>
</html>