<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<link th:href="@{/styles/style-backend.css}" rel="stylesheet" />
</head>
<body>
	<div class="top-area">
		<center><h2>Admin Panel</h2></center> <a th:href="@{/logout}" class="button" style="float: right;background:crimson;color:white">Logout</a>
	</div>
<!-- SIDEBAR -->
			<div class="sidebar" style="background-image: url(images/sidebar-1.jpg)">
				<div class="sidebar-background" >
					<h2 class="logo-text">
						Online Examination System
					</h2>

					<div class="left-menu">
						<a class="active" th:href=@{/course}><h2>Courses</h2></a>
                        <a th:href="@{/addQues}"><h2>Questions</h2></a>
					</div>
				</div>
			</div>
</body>
</html>