<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">



<aop:aspectj-autoproxy/>



<bean id="logging" class="com.employee.aspect.LoggingAspect"/>

<bean id="emp" class="com.employee.bean.Employee">
<property name="empid" value="901"/>
<property name="ename" value="Marker"/>
<property name="salary" value="10000"/>

</bean>
<aop:config>
<aop:aspect id="LoggingAspect" ref="logging">
<aop:pointcut expression="execution(public void employeeDetails())" id="p1"/>
<aop:before method="logBeforeAdvise" pointcut-ref="p1"/>
<aop:after method="logAfterAdvise" pointcut-ref="p1"/>

</aop:aspect>

</aop:config>
</beans>