<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="nav-link active" aria-current="page" th:href="@{/}">EventManagementSystem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
       <!--  <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/addEvent}">BookEvent</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/addVenue}">AddVenue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/viewEvents}">ViewEvents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/viewVenue}">ViewVenues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>